*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#0f172a;
    color:white;
}

header{
    position:fixed;
    width:100%;
    top:0;
    background:#111827;
    padding:20px 10%;
    z-index:1000;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    color:#38bdf8;
}

.nav-links{
    display:flex;
    gap:30px;
    list-style:none;
}

.nav-links a{
    color:white;
    text-decoration:none;
    transition:0.3s;
}

.nav-links a:hover{
    color:#38bdf8;
}

.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero h1{
    font-size:3.5rem;
}

.hero span{
    color:#38bdf8;
}

.hero h3{
    margin-top:15px;
    color:#cbd5e1;
}

.hero p{
    margin:20px auto;
    max-width:700px;
    color:#94a3b8;
}

.btn{
    display:inline-block;
    padding:12px 28px;
    background:#38bdf8;
    color:black;
    text-decoration:none;
    border-radius:30px;
    font-weight:bold;
    transition:.3s;
}

.btn:hover{
    transform:translateY(-5px);
}

section{
    padding:100px 10%;
}

h2{
    text-align:center;
    margin-bottom:40px;
    color:#38bdf8;
}

.skills-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    gap:20px;
}

.card{
    background:#1e293b;
    padding:20px;
    text-align:center;
    border-radius:12px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.project-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
}

.project-card{
    background:#1e293b;
    padding:25px;
    border-radius:12px;
    transition:0.3s;
}

.project-card:hover{
    transform:scale(1.03);
}

.edu-card{
    text-align:center;
    background:#1e293b;
    padding:30px;
    border-radius:12px;
}

#contact{
    text-align:center;
}

footer{
    text-align:center;
    padding:20px;
    background:#111827;
}